@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Poppins:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

html ::-webkit-scrollbar{
    display: none;
}

body {
    background-color: white;
}

h1, h2, h4 {
    color: black;
}

#navigation {
    display: flex;
    justify-content: space-between;
    gap: 10rem;
    margin-bottom: 1rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

#navigation .logo {
    padding-left: 20px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 40px;
    font-style: bold;
    color: black;
}

#navigation .right-nav {
    display: flex;
    gap: 3rem;
}

#navigation .gallery-portal {
    text-decoration: none;
    padding-left: 20px;
    padding-top: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    font-style: bold;
    color: black;
}

#navigation .tripleSLOGO {
    height: 80px;
    width: 80px;
}

.member-names {
    font-size: 30px;
    margin-left: 1.5rem;
    position: relative;
    width: max-content;
    margin-bottom: 1rem;
}

.member-names::after {
    content: "";
    width: 100%;
    height: 5px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 110%;
}

.images {
    columns: 300px;
    gap: 10px;
    margin-left: 1.5rem;
}

.images img {
    width: 300px;
    height: auto;
    border: 3px solid white;
    border-radius: 20px;
}

.to-top {
    position: fixed;
    bottom: 50px;
    right: 30px;
    opacity: 0;
    background-color: rgb(32, 31, 31);
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    z-index: 1000;
}

.to-top h1 {
    color: white;
}

.to-top.active {
    opacity: 1;
}

@media (max-width: 320px) {
    #navigation {
        gap: 4rem;
    }
    #navigation .logo {
        font-size: 16px;
        padding: 10px;
        padding-top: 15px;
        margin: 0;
    }
    #navigation .right-nav {
        gap: 20px;
    }
    #navigation .gallery-portal {
        font-size: 10px;
    }
    
    #navigation .tripleSLOGO {
        height: 40px;
        width: 40px;
        margin-top: 0.5rem;
    }

    .member-names {
        font-size: 16px;
        margin-bottom: 10px;
    }
    
    .member-names::after {
        height: 3px;
    }
    
    .images {
        columns: 300px;
        gap: 10px;
        margin-left: 1.5rem;
    }
    
    .images img {
        width: 130px;
    }
    
    .to-top {
        position: fixed;
        bottom: 50px;
        right: 70px;
        font-size: 12px;
        z-index: 1000;
        border-color: red;
    }
    
    .to-top h1 {
        color: white;
    }
    
    .to-top.active {
        opacity: 1;
    }
}

@media (max-width: 577px){
    html, body {
        overflow-x: hidden;
    }
    #navigation {
        gap: 4rem;
    }
    #navigation .logo {
        font-size: 16px;
        padding: 10px;
        padding-top: 15px;
        margin: 0;
    }
    #navigation .right-nav {
        gap: 20px;
    }
    #navigation .gallery-portal {
        font-size: 10px;
    }
    
    #navigation .tripleSLOGO {
        height: 40px;
        width: 40px;
        margin-top: 0.5rem;
    }
    .member-names {
        font-size: 24px;
        margin-bottom: 10px;
    }
    
    .member-names::after {
        height: 3px;
    }
    
    .images {
        columns: 300px;
        gap: 10px;
        margin-left: 1.5rem;
    }
    
    .images img {
        width: 170px;
    }
    
    .to-top {
        position: fixed;
        bottom: 50px;
        font-size: 12px;
        z-index: 1000;
        border-color: red;
    }
    
    .to-top h1 {
        color: white;
    }
    
    .to-top.active {
        opacity: 1;
    }
}
  
@media (min-width: 577px) and (max-width: 768px) {
    #navigation {
        gap: 0rem;
    }
    #navigation .logo {
        font-size: 16px;
        padding: 10px;
        padding-top: 15px;
        margin: 0;
    }
    #navigation .right-nav {
        gap: 20px;
    }
    #navigation .gallery-portal {
        font-size: 10px;
    }
    
    #navigation .tripleSLOGO {
        height: 40px;
        width: 40px;
        margin-top: 0.5rem;
    }
    .member-names {
        font-size: 16px;
        margin-bottom: 10px;
    }
    
    .member-names::after {
        height: 3px;
    }
    
    .images {
        columns: 300px;
        gap: 10px;
        margin-left: 1.5rem;
    }
    
    .images img {
        width: 130px;
    }
    
    .to-top {
        position: fixed;
        bottom: 50px;
        right: 70px;
        font-size: 12px;
        z-index: 1000;
        border-color: red;
    }
    
    .to-top h1 {
        color: white;
    }
    
    .to-top.active {
        opacity: 1;
    }
}
  
@media (min-width: 769px) and (max-width: 1024px) {
    #navigation {
        gap: 4rem;
    }
    #navigation .logo {
        font-size: 16px;
        padding: 10px;
        padding-top: 15px;
        margin: 0;
    }
    #navigation .right-nav {
        gap: 20px;
    }
    #navigation .gallery-portal {
        font-size: 10px;
    }
    
    #navigation .tripleSLOGO {
        height: 40px;
        width: 40px;
        margin-top: 0.5rem;
    }
    .member-names {
        font-size: 16px;
        margin-bottom: 10px;
    }
    
    .member-names::after {
        height: 3px;
    }
    
    .images {
        columns: 300px;
        gap: 10px;
        margin-left: 1.5rem;
    }
    
    .images img {
        width: 130px;
    }
    
    .to-top {
        position: fixed;
        bottom: 50px;
        right: 70px;
        font-size: 12px;
        z-index: 1000;
        border-color: red;
    }
    
    .to-top h1 {
        color: white;
    }
    
    .to-top.active {
        opacity: 1;
    }
}
