<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSS-Vision</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mainpage.css') }}">
    <link rel="icon" type="image/jpg" href="{{ url_for('static', filename='assets/toripuruesu.jpg') }}">
</head>
<body>
    <nav id = "navigation">
        <h1 class = "logo">SSS-Vision</h1>
        <div class ="right-nav">
            <a href = "{{ url_for('gallery') }}" class = "gallery-portal"><h1 title="Check out user uploaded pictures of tripleS!">Gallery</h1></a>
            <a href = "https://www.triplescosmos.com/" target="_blank">
                <img class="tripleSLOGO" src="{{ url_for('static', filename='assets/toripuruesu.jpg') }}" 
                title="tripleS official website">
            </a>
        </div>
    </nav>
    <div id = "main-body">
        <div class = "info">
            <h1>Welcome to<br>SSS-Vision!</h1>
            <h2>a dimension to identify tripleS members easily with the help of AI</h2>
            <h4 id = "holder">Start by uploading your image here</h4>
        </div>
        <div class = "uploadContainer">
            <form id="uploadForm" enctype="multipart/form-data">
                <div class = "upload-box">
                    <input type="file" id="image" name="image" accept="image/*">
                    <label for ="image" id = "uploadLabel">UPLOAD IMAGE</label>
                </div>
                <button type="submit"><span>Scan for S</span></button>
            </form>
        </div>
        <div id="progressBarContainer">
            <div id="progressBar">
                <div id ="progress"></div>
            </div>
            <p id = "progressText"></p>
        </div>
    </div>
    <div id="result">
        <img id="processedImage" src="">
        <button id="closeBtn">Close</button>
    </div>
    <script src = "{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
